.advantages {
  padding: 120px 0px 160px 0px;
  @include mobile {
    padding: 20px 0px 160px 0px;
  }

  h3 {
    text-align: center;
    margin: 0px 15px;
  }
  &__block {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 60px auto 0px auto;
    max-width: 960px;

    @include mobile {
      flex-direction: column;
      width: 100%;
    }

    @include lg-tablet {
      flex-direction: column;
      width: 95%;
    }

  }
  &__item {
    width: 33.3%;
    margin-right: 70px;

    h4 {
      @include desktop {
        white-space: nowrap;
      }
      @include tablet {
        white-space: nowrap;
      }
    }

    @include mobile {
      width: 80%;
      margin: auto;
      text-align: center;
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    @include lg-tablet {
      width: 60%;
      margin: auto;
      text-align: center;
      margin-bottom: 50px;
    }

    @include desktop {
      &:last-child {
        margin-right: 0px;
      }
    }
    @include max-tablet {
      &:last-child {
        margin-right: 0px;
      }
    }


    img {
      margin-bottom: 30px;
    }

    p {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      line-height: 26px;
      color: #4E4D53;

      @include lg-tablet {
        font-size: 14px;
      }
    }
  }

}