* {
  box-sizing: border-box;
}

html,body {
  margin: 0px;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
  font-family: 'DIN-Light', serif;
}

p {
  margin: 0px;
}
h1 {
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -0.02em;

  @include mobile {
    font-size: 40px;
  }

  @include mobile {
    font-size: 30px;
    line-height: 44px;
  }
}

h2 {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.02em;

  @include mobile {
    font-size: 30px;
    line-height: 50px;
  }
}

h3 {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -0.02em;

  @include mobile {
    font-size: 30px;
    line-height: 40px;
  }
}

h4 {
  font-size: 20px;
  line-height: 25px;
  font-family: 'DIN-Bold', sans-serif;

  @include max-tablet {
    font-size: 15px;
  }
}

h5 {
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}


button {
  outline: none;
  border: none;
  cursor: pointer;
}
