.btn {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.btn_header {
  background: transparent;
  display: inline-flex;
  align-items: center;
  margin: auto;
  padding: 12px;
  border-radius: 30px;
  position: relative;
  z-index: 2;
  height: 50px;
  padding-left: 40px;
  color: inherit;
  text-decoration: none;

  &:hover {
    .btn__circle {
      width: 100%;
    }
  }
}

.btn__circle {
  position: absolute;
  left: 0;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background: #E5E5E5;
  transition: all 0.5s ease;
  opacity: 0.9;
  z-index: -1;
  display: flex;
  align-items: center;
}

.btn__symbol {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #F47821;
  width: 50px;
}


.btn_footer {
  width: 100%;
  text-align: center;
  padding: 19px 0px;
  background: #fff;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: all 0.2s;

  &:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
  }
}
