.description {
  width: 60%;
  margin: auto;
  padding: 60px 0px 100px 0px;

  @include tablet {
    width: 70%;
  }

  @include mobile {
    width: 90%;
  }

  p {
    margin-top: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #4E4D53;

    @include mobile {
      font-size: 14px;
      text-align: justify;
    }
  }
}