.footer {
  padding: 100px 0px 120px 0px;
  background: #161616;
  color: #fff;

  @include mobile {
    padding: 40px 0px 60px 0px;
    background: #161616;
    color: #fff;
  }

  h3 {
    text-align: center;
    margin-bottom: 60px;
  }
}