.form {
  width: 40%;
  margin: auto;

  @include tablet {
    width: 60%;
  }

  @include mid-tablet {
    width: 70%;
  }

  @include mobile {
    width: 90%;
  }


  &__item {
    display: flex;
    align-items: baseline;
    padding-bottom: 28px;

    &:nth-child(4){
      padding-bottom: 60px;
    }
  }

  &__main {
    width: 100%;
  }
  &__number {
    margin-right: 28px;
    margin-left: -92px;

    @include mobile {
      display: none;
    }
  }
  &__circle {
    width: 64px;
    height: 64px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 64px;
    color: #F47821;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #4E4D53;
  }

  label {
    display: block;
    font-family: 'DIN-Bold', sans-serif;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
  }

  input {
    font-family: 'Roboto', sans-serif;
    background: transparent;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    opacity: 0.3;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    width: 100%;
    padding: 12px 12px 12px 0px;
  }

  textarea {
    font-family: 'Roboto', sans-serif;
    background: transparent;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    opacity: 0.3;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    width: 100%;
    padding: 12px 12px 12px 0px;
    resize: none;
    padding-top: 20px;

    @include mobile {
      height: 220px;
    }
  }
}