.header {
  text-align: center;
  margin: 165px 0px 140px 0px;

  @include mobile {
    margin: 100px auto 80px auto;
    width: 90%;
  }


  p {
    margin: 24px 0px 48px 0px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;

    @include mobile {
      font-size: 15px;
    }
  }
}