@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1279px){
    @content;
  }
}

@mixin max-tablet {
  @media (min-width: 1000px) and (max-width: 1279px){
    @content;
  }
}

@mixin lg-tablet {
  @media (min-width: 768px) and (max-width: 999px){
    @content;
  }
}

@mixin min-mobile {
  @media (max-width: 500px) {
    @content;
  }
}


@mixin sm-tablet {
  @media (min-width: 768px) and (max-width: 785px){
    @content;
  }
}

@mixin mid-tablet {
  @media (min-width: 768px) and (max-width: 849px){
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin mt {
  @media (max-width: 1279px) {
    @content;
  }
}

@mixin multiline($lines, $height) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}
