.qualities {
  background: #F7F5FA;
  img  {
    width: 100%;

    @include mobile {
      display: block;
    }
  }
  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -60px;
    padding-bottom: 80px;

    @include mobile {
      flex-direction: column;
      margin-top: 0px;
    }
  }

  &__item {
    padding: 60px;
    width: 35%;
    background: #FFFFFF;
    border: 1px solid #EDEDED;

    @include lg-tablet {
      padding: 40px;
    }

    @include mobile {
      width: 100%;
      padding: 30px;
    }
    p {
      margin-top: 12px;
      font-family: 'DIN-Light', sans-serif;
      font-size: 24px;
      line-height: 30px;

      @include lg-tablet {
        font-size: 17px;
      }


      @include mobile {
        font-size: 18px;
      }
    }
  }
}
